In [5]:
pip install pandas-profiling

Collecting pandas-profilingNote: you may need to restart the kernel to use updated packages.

  DEPRECATION: htmlmin is being installed using the legacy 'setup.py install' method, because it does not have a 'pyproject.toml' and the 'wheel' package is not installed. pip 23.1 will enforce this behaviour change. A possible replacement is to enable the '--use-pep517' option. Discussion can be found at https://github.com/pypa/pip/issues/8559

  Downloading pandas_profiling-3.6.1-py2.py3-none-any.whl (328 kB)
     ------------------------------------ 328.5/328.5 kB 582.9 kB/s eta 0:00:00
Requirement already satisfied: seaborn<0.13,>=0.10.1 in c:\users\vmraj\appdata\local\programs\python\python310\lib\site-packages (from pandas-profiling) (0.12.1)
Collecting pydantic<1.11,>=1.8.1
  Downloading pydantic-1.10.3-cp310-cp310-win_amd64.whl (2.1 MB)
     ---------------------------------------- 2.1/2.1 MB 1.8 MB/s eta 0:00:00
Collecting visions[type_image_path]==0.7.5
  Downloading visions-0.7.5-py3-none-any.whl (102 kB)
     -------------------------------------- 102.7/102.7 kB 2.9 MB/s eta 0:00:00
Collecting phik<0.13,>=0.11.1
  Downloading phik-0.12.3-cp310-cp310-win_amd64.whl (663 kB)
     -------------------------------------- 663.4/663.4 kB 2.8 MB/s eta 0:00:00
Collecting typeguard<2.14,>=2.13.2
  Downloading typeguard-2.13.3-py3-none-any.whl (17 kB)
Requirement already satisfied: jinja2<3.2,>=2.11.1 in c:\users\vmraj\appdata\local\programs\python\python310\lib\site-packages (from pandas-profiling) (3.1.2)
Requirement already satisfied: pandas!=1.4.0,<1.6,>1.1 in c:\users\vmraj\appdata\local\programs\python\python310\lib\site-packages (from pandas-profiling) (1.5.1)
Requirement already satisfied: requests<2.29,>=2.24.0 in c:\users\vmraj\appdata\local\programs\python\python310\lib\site-packages (from pandas-profiling) (2.28.1)
Requirement already satisfied: numpy<1.24,>=1.16.0 in c:\users\vmraj\appdata\local\programs\python\python310\lib\site-packages (from pandas-profiling) (1.23.4)
Requirement already satisfied: statsmodels<0.14,>=0.13.2 in c:\users\vmraj\appdata\local\programs\python\python310\lib\site-packages (from pandas-profiling) (0.13.5)
Collecting multimethod<1.10,>=1.4
  Downloading multimethod-1.9.1-py3-none-any.whl (10 kB)
Requirement already satisfied: tqdm<4.65,>=4.48.2 in c:\users\vmraj\appdata\local\programs\python\python310\lib\site-packages (from pandas-profiling) (4.64.1)
Requirement already satisfied: scipy<1.10,>=1.4.1 in c:\users\vmraj\appdata\local\programs\python\python310\lib\site-packages (from pandas-profiling) (1.9.3)
Requirement already satisfied: matplotlib<3.7,>=3.2 in c:\users\vmraj\appdata\local\programs\python\python310\lib\site-packages (from pandas-profiling) (3.6.2)
Collecting htmlmin==0.1.12
  Downloading htmlmin-0.1.12.tar.gz (19 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: PyYAML<6.1,>=5.0.0 in c:\users\vmraj\appdata\local\programs\python\python310\lib\site-packages (from pandas-profiling) (6.0)
Requirement already satisfied: attrs>=19.3.0 in c:\users\vmraj\appdata\local\programs\python\python310\lib\site-packages (from visions[type_image_path]==0.7.5->pandas-profiling) (22.1.0)
Collecting tangled-up-in-unicode>=0.0.4
  Downloading tangled_up_in_unicode-0.2.0-py3-none-any.whl (4.7 MB)
     ---------------------------------------- 4.7/4.7 MB 1.7 MB/s eta 0:00:00
Collecting networkx>=2.4
  Downloading networkx-2.8.8-py3-none-any.whl (2.0 MB)
     ---------------------------------------- 2.0/2.0 MB 4.3 MB/s eta 0:00:00
Collecting imagehash
  Downloading ImageHash-4.3.1-py2.py3-none-any.whl (296 kB)
     -------------------------------------- 296.5/296.5 kB 4.5 MB/s eta 0:00:00
Requirement already satisfied: Pillow in c:\users\vmraj\appdata\local\programs\python\python310\lib\site-packages (from visions[type_image_path]==0.7.5->pandas-profiling) (9.3.0)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\vmraj\appdata\local\programs\python\python310\lib\site-packages (from jinja2<3.2,>=2.11.1->pandas-profiling) (2.1.1)
Requirement already satisfied: cycler>=0.10 in c:\users\vmraj\appdata\local\programs\python\python310\lib\site-packages (from matplotlib<3.7,>=3.2->pandas-profiling) (0.11.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\vmraj\appdata\local\programs\python\python310\lib\site-packages (from matplotlib<3.7,>=3.2->pandas-profiling) (1.0.6)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\vmraj\appdata\local\programs\python\python310\lib\site-packages (from matplotlib<3.7,>=3.2->pandas-profiling) (4.38.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\vmraj\appdata\local\programs\python\python310\lib\site-packages (from matplotlib<3.7,>=3.2->pandas-profiling) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\vmraj\appdata\roaming\python\python310\site-packages (from matplotlib<3.7,>=3.2->pandas-profiling) (21.3)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\vmraj\appdata\roaming\python\python310\site-packages (from matplotlib<3.7,>=3.2->pandas-profiling) (2.8.2)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\vmraj\appdata\roaming\python\python310\site-packages (from matplotlib<3.7,>=3.2->pandas-profiling) (3.0.9)
Requirement already satisfied: pytz>=2020.1 in c:\users\vmraj\appdata\local\programs\python\python310\lib\site-packages (from pandas!=1.4.0,<1.6,>1.1->pandas-profiling) (2022.6)
Requirement already satisfied: joblib>=0.14.1 in c:\users\vmraj\appdata\local\programs\python\python310\lib\site-packages (from phik<0.13,>=0.11.1->pandas-profiling) (1.2.0)
Requirement already satisfied: typing-extensions>=4.1.0 in c:\users\vmraj\appdata\local\programs\python\python310\lib\site-packages (from pydantic<1.11,>=1.8.1->pandas-profiling) (4.4.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\vmraj\appdata\local\programs\python\python310\lib\site-packages (from requests<2.29,>=2.24.0->pandas-profiling) (1.26.12)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\vmraj\appdata\local\programs\python\python310\lib\site-packages (from requests<2.29,>=2.24.0->pandas-profiling) (2022.9.24)
Requirement already satisfied: idna<4,>=2.5 in c:\users\vmraj\appdata\local\programs\python\python310\lib\site-packages (from requests<2.29,>=2.24.0->pandas-profiling) (3.4)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\vmraj\appdata\local\programs\python\python310\lib\site-packages (from requests<2.29,>=2.24.0->pandas-profiling) (2.1.1)
Requirement already satisfied: patsy>=0.5.2 in c:\users\vmraj\appdata\local\programs\python\python310\lib\site-packages (from statsmodels<0.14,>=0.13.2->pandas-profiling) (0.5.3)
Requirement already satisfied: colorama in c:\users\vmraj\appdata\roaming\python\python310\site-packages (from tqdm<4.65,>=4.48.2->pandas-profiling) (0.4.6)
Requirement already satisfied: six in c:\users\vmraj\appdata\roaming\python\python310\site-packages (from patsy>=0.5.2->statsmodels<0.14,>=0.13.2->pandas-profiling) (1.16.0)
Collecting PyWavelets
  Downloading PyWavelets-1.4.1-cp310-cp310-win_amd64.whl (4.2 MB)
     ---------------------------------------- 4.2/4.2 MB 2.3 MB/s eta 0:00:00
Installing collected packages: htmlmin, typeguard, tangled-up-in-unicode, PyWavelets, pydantic, networkx, multimethod, imagehash, visions, phik, pandas-profiling
  Running setup.py install for htmlmin: started
  Running setup.py install for htmlmin: finished with status 'done'
Successfully installed PyWavelets-1.4.1 htmlmin-0.1.12 imagehash-4.3.1 multimethod-1.9.1 networkx-2.8.8 pandas-profiling-3.6.1 phik-0.12.3 pydantic-1.10.3 tangled-up-in-unicode-0.2.0 typeguard-2.13.3 visions-0.7.5

In [44]:
import numpy as np
import pandas as pd
from pandas_profiling import ProfileReport
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
pd.options.display.max_columns = 100
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

In [45]:
amsterdam_airbnb = pd.read_csv(r'E:\Test trail\Data\airbnb_listing_train.csv')

amsterdam_airbnb.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,price
0,11602914,Luxury home 100m2+garden in center!,3123809,Marjolein,NaN,De Pijp - Rivierenbuurt,52.35368,4.90177,Entire home/apt,3,13,15-02-2020,0.27,1,0,220
1,13289321,East is where your home is!,10259430,Ana,NaN,Oud-Oost,52.35728,4.92052,Entire home/apt,4,14,19-06-2019,0.29,1,0,110
2,40779315,Amsterdam Central - LUXURY house in BUSY STREET,224969266,Mark,NaN,Centrum-West,52.37582,4.89850,Entire home/apt,2,9,16-03-2020,1.65,1,7,100
3,7820311,great appartment down town,693472,Ayden,NaN,Westerpark,52.37792,4.87300,Entire home/apt,3,42,17-02-2020,0.72,1,0,130
4,27346603,Private room with canal view in peaceful area,41888346,Alissa,NaN,Westerpark,52.38051,4.87493,Private room,2,89,26-02-2020,4.02,1,24,90

In [46]:
amsterdam_airbnb.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'minimum_nights',
       'number_of_reviews', 'last_review', 'reviews_per_month',
       'calculated_host_listings_count', 'availability_365', 'price'],
      dtype='object')

In [47]:
amsterdam_airbnb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12901 entries, 0 to 12900
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              12901 non-null  int64
 1   name                            12879 non-null  object
 2   host_id                         12901 non-null  int64
 3   host_name                       12893 non-null  object
 4   neighbourhood_group             0 non-null      float64
 5   neighbourhood                   12901 non-null  object
 6   latitude                        12901 non-null  float64
 7   longitude                       12901 non-null  float64
 8   room_type                       12901 non-null  object
 9   minimum_nights                  12901 non-null  int64
 10  number_of_reviews               12901 non-null  int64
 11  last_review                     11305 non-null  object
 12  reviews_per_month               11305 non-null  float64
 13  calculated_host_listings_count  12901 non-null  int64
 14  availability_365                12901 non-null  int64
 15  price                           12901 non-null  int64
dtypes: float64(4), int64(7), object(5)
memory usage: 1.6+ MB

In [48]:
amsterdam_airbnb.describe()

,id,host_id,neighbourhood_group,latitude,longitude,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,price
count,1.290100e+04,1.290100e+04,0.0,12901.000000,12901.000000,12901.000000,12901.000000,11305.000000,12901.000000,12901.000000,12901.000000
mean,1.984923e+07,6.321700e+07,NaN,52.365313,4.889744,3.542516,24.803194,0.748501,2.136501,61.392295,166.959538
std,1.216241e+07,8.010814e+07,NaN,0.016418,0.036016,15.154077,53.406134,1.260791,6.001838,107.988329,234.794630
min,2.016800e+04,3.592000e+03,NaN,52.289270,4.755720,1.000000,0.000000,0.010000,1.000000,0.000000,6.000000
25%,9.869642e+06,8.948269e+06,NaN,52.355190,4.863950,2.000000,2.000000,0.180000,1.000000,0.000000,99.000000
50%,1.874939e+07,2.711601e+07,NaN,52.364570,4.887130,2.000000,9.000000,0.380000,1.000000,0.000000,135.000000
75%,2.914232e+07,8.337686e+07,NaN,52.375110,4.909310,3.000000,24.000000,0.770000,1.000000,87.000000,190.000000
max,4.370900e+07,3.490175e+08,NaN,52.425090,5.018400,1001.000000,843.000000,50.000000,78.000000,365.000000,9000.000000

In [49]:
amsterdam_airbnb.isnull().sum()

id                                    0
name                                 22
host_id                               0
host_name                             8
neighbourhood_group               12901
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
minimum_nights                        0
number_of_reviews                     0
last_review                        1596
reviews_per_month                  1596
calculated_host_listings_count        0
availability_365                      0
price                                 0
dtype: int64

In [50]:
#dropping entire column has missing value
amsterdam_airbnb.drop(['name','host_name','neighbourhood_group'], axis=1, inplace =True)

In [51]:
amsterdam_airbnb.drop(['last_review','reviews_per_month'], axis=1, inplace =True)

In [52]:
amsterdam_airbnb.isnull().sum()

id                                0
host_id                           0
neighbourhood                     0
latitude                          0
longitude                         0
room_type                         0
minimum_nights                    0
number_of_reviews                 0
calculated_host_listings_count    0
availability_365                  0
price                             0
dtype: int64

In [53]:
#convert to category dtype
amsterdam_airbnb['neighbourhood'] = amsterdam_airbnb['neighbourhood'].astype('category')

In [54]:
#use .cat.codes to create new colums with encoded value
amsterdam_airbnb['neighbourhood'] = amsterdam_airbnb['neighbourhood'].cat.codes

In [55]:
amsterdam_airbnb['neighbourhood'].value_counts()

7     2209
8     1600
5     1429
4     1097
20     958
21     924
17     831
2      730
14     644
19     381
16     376
11     321
18     269
13     257
12     171
3      155
10     144
6       88
15      83
9       80
0       78
1       76
Name: neighbourhood, dtype: int64

In [56]:
amsterdam_airbnb['room_type'].value_counts()

Entire home/apt    10064
Private room        2622
Hotel room           174
Shared room           41
Name: room_type, dtype: int64

In [57]:
amsterdam_airbnb = pd.get_dummies(amsterdam_airbnb, columns=['room_type'])

In [58]:
#Convert longitude and latitude into cartesian coordinates. Assume the earth as sphere not ellipsoid
R = 6371000 #Approximate mean radius of earth (in m)
 #lons and lats must be in radians
lon,lat = map(np.radians, [amsterdam_airbnb['longitude'], amsterdam_airbnb['latitude']])

# 'Single-point' Haversine formula
a = np.sin(lat/2)**2 + np.cos(lat) * np.sin(lon/2)**2
distance = 2 * R * np.arcsin(np.sqrt(a))

#creating new column distance and dropping longitude and latitude column
amsterdam_airbnb['distance'] = distance
amsterdam_airbnb.drop(['latitude', 'longitude'], axis = 1, inplace = True)

In [59]:
amsterdam_airbnb.columns

Index(['id', 'host_id', 'neighbourhood', 'minimum_nights', 'number_of_reviews',
       'calculated_host_listings_count', 'availability_365', 'price',
       'room_type_Entire home/apt', 'room_type_Hotel room',
       'room_type_Private room', 'room_type_Shared room', 'distance'],
      dtype='object')

In [60]:
amsterdam_airbnb.dtypes

id                                  int64
host_id                             int64
neighbourhood                        int8
minimum_nights                      int64
number_of_reviews                   int64
calculated_host_listings_count      int64
availability_365                    int64
price                               int64
room_type_Entire home/apt           uint8
room_type_Hotel room                uint8
room_type_Private room              uint8
room_type_Shared room               uint8
distance                          float64
dtype: object

In [61]:
amsterdam_airbnb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12901 entries, 0 to 12900
Data columns (total 13 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              12901 non-null  int64
 1   host_id                         12901 non-null  int64
 2   neighbourhood                   12901 non-null  int8
 3   minimum_nights                  12901 non-null  int64
 4   number_of_reviews               12901 non-null  int64
 5   calculated_host_listings_count  12901 non-null  int64
 6   availability_365                12901 non-null  int64
 7   price                           12901 non-null  int64
 8   room_type_Entire home/apt       12901 non-null  uint8
 9   room_type_Hotel room            12901 non-null  uint8
 10  room_type_Private room          12901 non-null  uint8
 11  room_type_Shared room           12901 non-null  uint8
 12  distance                        12901 non-null  float64
dtypes: float64(1), int64(7), int8(1), uint8(4)
memory usage: 869.4 KB

In [62]:
X = amsterdam_airbnb.drop('price', axis = 1)
y = amsterdam_airbnb['price']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=5)

In [63]:
# Linear Regression Model

model = LinearRegression()

# Fitting the model
model.fit(X_train,y_train)

LinearRegression()

In [64]:
# Model Evaluation

y_train_predict = model.predict(X_train)
train_rmse = (np.sqrt(mean_squared_error(y_train,y_train_predict)))
train_r2 = r2_score(y_train,y_train_predict)

print('Training RMSE  :', train_rmse)
print('Training R2 : ', train_r2)

y_test_predict = model.predict(X_test)
test_rmse = (np.sqrt(mean_squared_error(y_test,y_test_predict)))
test_r2 = r2_score(y_test,y_test_predict)

print('Testing RMSE  :', test_rmse)
print('Testing R2 : ', test_r2)

Training RMSE  : 243.91608662977785
Training R2 :  0.0424117826426651
Testing RMSE  : 159.69423970821077
Testing R2 :  0.05930089628687807